*, *::before, *::after {
	box-sizing: border-box; 
	font-family: 'MS Sans Serif', Arial;
	 -webkit-font-smoothing: none;
  color: #222222;
  user-select: none;

}


/*
body {	
	
	padding: 0;
	margin: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: white
	
} */


body {
  background-image: url("https://i.imgur.com/eKesLel.png");
  background-size: 100% calc(100%);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;

}

h1 {
	text-align: justify;
}


.container {

	width: 620px;
	height:350px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:1px;
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;

  /*display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #c2c6ca;
  font-size: 16px;
  font-weight: 800;
  -webkit-font-smoothing: none;
*/
} 


.btn-grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 20px;
	justify-content: center;
	padding-top: 10px;

}



/* active
button {
	box-shadow: -0.5px -0.5px 0 0.5px #808080,
    	0 0 0 1px #c0c0c0,
    	-0.5px -0.5px 0 1.5px #0a0a0a,
    	0 0 0 2px #ffffff;
}
*/

button {
  width: 150px;
      height: 20px;
      display: grid;
       box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px  #85898d,
      inset -1px -1px #85898d;
}


.controls {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px 15px 14px 14px;
	gap: 15px;
	height: fit-content;
	padding-bottom: 20px;

}


.btn {
    box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px white,
      inset -1px -1px #85898d;
      display: flex; 
      flex-direction: column;
      align-items: center;
  }




button:hover {
	      color: #85898d;
}

.hide {
	display: none;
}



#question {
	padding-top: 50px;
	padding-bottom: 15px;
	font-size: 18px;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 16px;
	font-family: Tahoma;
}

#start-btn {
	height: 30px;
}

.btn.correct {
	color: blue;
}

.btn.wrong {
	color: red;
}

#progress-bar {
	border: 0.3px solid red;
	width: 130px;
	float: left;
}


#progress-bar-full {
	float: left;
	height: 100%;
	background:red;
	width: 0%;
	display: inline-block;
}

#progressText {
	float:right;
	margin-top: 5px;
	padding-left: 5px;
}


#welcome {
	padding-top: 50px;
	width: 320px;
}

.small-icon {
	/*
	outline:none;
	float:right;
	width: 20px;
	
	*/

  float:right;
  width:19px;
  height:18px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
   margin-top: -15px;
  margin-right: 2px;

}

div#header {
	height:25px;
	width:100%;
	background:#000080;
	padding-top: 19px;
	margin-top: 2px;


}

.titleText {
	color:#FFF;
	padding-top: -90px;
	margin:2px 0 0 1px;
  	float:left;
  	font-family:Tahoma;
  	font-weight:bold;
  	font-size:12px;
  	margin-top: -15px;
	padding-left: 3px;

}

#smallButton {
	font-weight: bold;
	padding-top: 2px;
	
}

.welcomeText {

	font-size:20px;
  font-weight:bold;
  font-family:Tahoma;
  text-align: center;
}

#scoreText {
	padding-left: 8px;
	padding-top: 5px;
}

#bye {
	padding-top: 80px;
}