*, *::before, *::after {
	box-sizing: border-box; 
	font-family: 'MS Sans Serif', Arial;
	 -webkit-font-smoothing: none;
  color: #222222;
  user-select: none;

}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}





body {
  background-image: url("https://i.imgur.com/eKesLel.png");
  background-position: center center;
  background-size: 100% calc(100%);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;

}

h1 {
	text-align: justify;
}


.container {
	width: 620px;
	height:350px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:1px;
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;


} 


.btn-grid {
	margin-bottom: 110px;
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
	justify-content: center;
	padding-top: 10px;
	height: 90px;

}




button {
  width: 170px;
      height: 25px;
      display: grid;
       box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px  #85898d,
      inset -1px -1px #85898d;
      text-align: center;
      padding-top: 2px;    

}


.controls {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: -80px;
	gap: 15px;
	height: fit-content;

}


.btn {
	box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px white,
      inset -1px -1px #85898d;
      display: flex; 
      flex-direction: column;
      align-items: center;
      font-weight: bolder;
      vertical-align: middle;
  }


button:hover {
	background-color: #C0C0C0;
}

.hide {
	display: none;

}


#question {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 17px;
	font-family: Tahoma;
	font-weight:bold;
	height: 90px;
}

#start-btn {

	margin-bottom: 175px;
}

.btn.correct {
	color: blue;
	font-weight: bolder;

}

.btn.wrong {
	color: red;
	font-weight: bolder;
}


#progressText {
	float:right;
	padding-left: 5px;
	padding-left: 8px;
	padding-top: 5px;
	font-weight:bold;
  	font-family:Tahoma;
	/*border-style:solid;
	border-color: black;*/
	
}


#welcome {
	padding-top: 40px;
	width: 320px;
}

.small-icon {

  float:right;
  width:19px;
  height:18px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
   margin-top: -15px;
  margin-right: 2px;

}

div#header {
	height:25px;
	width:100%;
	background:#000080;
	padding-top: 19px;
	margin-top: 2px;


}

.titleText {
	color:#FFF;
	padding-top: -90px;
	margin:2px 0 0 1px;
  	float:left;
  	font-family:Tahoma;
  	font-weight:bold;
  	font-size:12px;
  	margin-top: -15px;
	padding-left: 3px;

}

#smallButton {
	font-weight: bold;
	padding-top: 2px;
	
}

.welcomeText {

	font-size:20px;
  font-weight:bold;
  font-family:Tahoma;
  text-align: center;
}

#scoreText {
	padding-left: 8px;
	padding-top: 5px;
	font-weight:bold;
  	font-family:Tahoma;
}

#bye {
	padding-top: 60px;
	margin-bottom: 20px;
	font-size: 20px;
}


#playBtn {
	margin-left: 0px;
	margin-top: 60px;
	margin-right: 5px;
float: right;
   width:20px;
  height:20px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;
}

#next-btn {
margin-top: -70px;
padding-top: 3px;
}


#gif {
margin-left: 150px;
margin-right: auto;
width: 50%;
margin-top: -80px;

}

